$purpleLight: #302D43;
$purpleDark: #282639;
$greenNeon: #92CF48;
$greyLight: #F4F6F9;
$greyDark: #EAEDF3;
$grey: #777;
// $blue: #004caf;
// $blue: #0052bc;
$blue: #0360d9;
$shadow: 0px 0px 10px 0px rgba(48,48,48,0.38);
// -moz-box-shadow: 0px 0px 10px 0px rgba(48,48,48,0.38);
// box-shadow: 0px 0px 10px 0px rgba(48,48,48,0.38);
